body {
    background-color: #fafbfc;
}

.container {
    background-color: #fafbfc;
}

.card-header {
    background-color: #f6f8fa;
}

.card {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
